/* header */
.side-menu-bar a {
    transition: 0.3s;
}

.side-menu-blur-bg {
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.3) 0%, rgba(192, 132, 252, 0.3) 100%);
}

.side-menu-footer a {
    color: #ACB6C3;
}

nav a {
    font-family: 'Open Sans';
    text-decoration: none;
    color: #212C38;
    font-size: 15px;
    font-weight: 500;
    line-height: 20.43px;
}

nav a:hover {
    color: #6AC37F;
}


/* hero section */

.hero-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-heading {
    width: 500px;
    max-width: 80%;
    font-family: 'Avenir', sans-serif;
    margin: 1rem 0 0.5rem 0;
}

.badge-title-bold {
    font-weight: 700;
    color: #000000;
}

.try-free-btn {
    background: linear-gradient(90deg, #4C42B8, #4C42B8);
}

.try-free-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #7435FF 16.55%, #1A599E 88.98%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
    border-radius: 25px;
}

.try-free-btn:hover::before {
    opacity: 1;
}

#arrow,
#arrow_2 {
    margin-left: 0.2rem;
}

.hero-img {
    width: 100%;
    margin: 2rem 0;
}

.vertical-text-slider {
    height: 38px;
    /* Increased the height to accommodate larger font size */
    overflow-y: hidden;
    margin-top: 0.6rem;
}

.vertical-text-slider h2 {
    font-size: 30px;
    /* Changed the font size to 30px */
    line-height: 35px;
    /* Adjusted line height to 35px */
    font-weight: 600;
    font-family: Avenir;
    text-align: center;
}

.vt-slider-1 {
    color: #4C42B8;
    animation: slide 3s linear infinite;
}

.vt-slider-2 {
    color: #6AC37F;
}

.vt-slider-3 {
    color: #F25821;
}

@keyframes slide {
    0% {
        margin-top: -105px;
        /* Adjusted to account for larger font size */
    }

    5% {
        /* For stopping effect */
        margin-top: -70px;
        /* Adjusted */
    }

    33% {
        margin-top: -70px;
        /* Adjusted */
    }

    38% {
        /* For stopping effect */
        margin-top: -35px;
        /* Adjusted */
    }

    66% {
        margin-top: -35px;
        /* Adjusted */
    }

    71% {
        /* For stopping effect */
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

.pr-hero-div {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pr-hero-title {
    font-size: 40px;
    font-weight: 500;
    font-family: Avenir;
    line-height: 54.64px;
    text-align: center;

}

.pr-hero-subtitle {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.79px;
    text-align: center;
    color: #212C38;
    margin-top: 10px;
}

.pricing-sec-div {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-toggle-sec {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* width: 30rem; */
    /* justify-content: flex-start; */
}

.pricing-save {
    background-color: #EEF0F2;
    width: 77px;
    height: 25px;
    border-radius: 27px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #C8C8C8;
}

.pricing-save-active {
    background-color: #FEC753;
    color: #000000;
}

.pricing-toggle-sec p {
    color: #343F4C;
    width: 100px;
}

.pricing-lable-active {
    font-weight: bold;
}

.toggle-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #6AC37F;
    width: 42px;
    height: 23px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    font-weight: 900;
    background-color: white;
    width: 17px;
    height: 17px;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: #4C42B8;
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "";
    left: 22px;
    color: #4C42B8;
}

.steps-badge {
    width: 124px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #FAFAFAB2;
    border: 1px solid #ECECEC;
    border-radius: 2rem;
}

.steps-badge-text {
    font-family: 'Avenir', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.2px;
    text-align: left;
}

.green-icon {
    background: #6AC37F;
    width: 8px;
    height: 8px;
}


.pr-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.pr-badge,
.steps-badge {
    height: 2.3rem;
    padding: 0 0.1rem;
}

.pr-card-top-img {
    margin-top: 10px;
    width: 8.7rem;
}

.pr-basic-round-img {
    width: 7.7rem;
    margin-bottom: 0.79rem;
}

.price-div {
    margin-top: -15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.rupee-sign {
    height: 23px;
}

.price {
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    color: #000000;
}

.pr-card-hr {
    height: 1px;
    width: 96%;
}

.plan-features {
    margin: 1.5rem 0;
}

.plan-feature {
    display: flex;
    gap: 0.7rem;
    justify-content: start;
    align-items: start;
   
    margin-bottom: 0.5rem;
}

.plan-getstart-btn-div {
    position: absolute;
    padding-right: 12px;
    left: 5px;
    /* top:490px; */
    bottom: 40px;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    /* background: rebeccapurple; */
}

.plan-slt-btn {
    width: 153px;
    height: 50px;
    margin-left: 4px;
    font-size: 16px;
    display: flex;
    gap: 5px;
    font-weight: 300;
    padding: 0.7rem 0.5rem 0.7rem 1.6rem;
}



.pr-blur-round-bg {
    background: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.9) 0%, rgba(192, 132, 252, 0.9) 100%);
}

.card-gst-warn {
    font-size: 12px;
    font-weight: 300;
    color: #7E7E7E;
    margin-top: 2rem;
}

.gst-warn-star {
    color: red;
}

.streamlining-section {
    background-image: url('/assets/img/loremIpsumBg.png');
    background-repeat: 'no-repeat';
    background-size: cover;
    padding-top: 5.2rem;
}

.stremlining-title {
    font-family: Avenir;
}

.try-free-btn-stremlinig {
    padding: 0.8rem 0.5rem 0.8rem 1.5rem;
    width: 11rem;
    display: flex;
    gap: 7px;
    /* margin-left: 0.2rem; */
}

.submit-btn {
    padding: 10px 1.5rem;
}

.footer-links {
    color: #343F4C;
}

.social-icons {
    opacity: 0.5;
    /* -webkit-filter: grayscale(100%);   */
    filter: grayscale(100%);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.social-icons:hover {
    opacity: 1;
    filter: grayscale(0%);
}


@media only screen and (min-width: 510px) {
    .pricing-toggle-sec {
        margin-left: 20px;
        justify-content: flex-start;
        width: 30rem;
    }

    .annually-toggle-sec {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media only screen and (max-width: 509px) {
    .annually-toggle-sec {
        display: flex;
        flex-direction: column-reverse;
        gap: 2px;
        padding-top: 27px;
    }
}


@media only screen and (max-width: 768px) {
    .footer-links {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        column-gap: 1rem;
    }
}
