@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    scroll-behavior: smooth;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}

.font-Poppins{
    font-family: 'Poppins', sans-serif;
}



/* header */
.side-menu-blur-bg {
    background: radial-gradient(58.21% 60% at -4.41% 8.74%, rgba(103, 232, 249, 0.3) 0%, rgba(192, 132, 252, 0.3) 100%);
}


/* button gradient */
.try-free-btn {
    background: linear-gradient(90deg, #4C42B8, #4C42B8);
}

.try-free-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #7435FF 16.55%, #1A599E 88.98%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
    border-radius: 25px;
}

.try-free-btn:hover::before {
    opacity: 1;
}

/* button arrow erffect */
#arrow,
#arrow_2 {
    margin-left: 0.2rem;
}

.vt-slider-1 {
    animation: slide 3s linear infinite;
}

@keyframes slide {
    0% {
        margin-top: -110px;
    }

    5% {
        margin-top: -75px;
    }

    33% {
        margin-top: -75px;
    }

    38% {
        margin-top: -40px;
    }

    66% {
        margin-top: -40px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}


.pricing-save {
    background-color: #EEF0F2;
    color: #C8C8C8;
}

.pricing-save-active {
    background-color: #FEC753;
    color: #000000;
}

.pricing-lable-active {
    font-weight: bold;
}

.toggle-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #6AC37F;
    width: 42px;
    height: 23px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    font-weight: 900;
    background-color: white;
    width: 17px;
    height: 17px;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: #4C42B8;
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "";
    left: 22px;
    color: #4C42B8;
}

.pr-blur-round-bg {
    background: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.9) 0%, rgba(192, 132, 252, 0.9) 100%);
}

.streamlining-section {
    background-image: url('/assets/img/loremIpsumBg.png');
}

.stremlining-title {
    font-family: Avenir;
}

.try-free-btn-stremlinig {
    padding: 0.8rem 0.5rem 0.8rem 1.5rem;
    width: 11rem;
    display: flex;
    gap: 7px;
}

.submit-btn {
    padding: 10px 1.5rem;
}

.footer-links {
    color: #343F4C;
}

.social-icons {
    opacity: 0.5;
    filter: grayscale(100%);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.social-icons:hover {
    opacity: 1;
    filter: grayscale(0%);
}

@media only screen and (max-width: 768px) {
    .footer-links {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        column-gap: 1rem;
    }
}

/* horizontal scroll slider  */
.hr-scroll {
    box-shadow: 0px 4px 4px 0px #0000000D;
    height: 0rem;
}

.hr-scroll a {
    transition: .1s all;
}

.nav-slider {
    background-color: #11144F;
    transition: all .3s linear;
    height: 2px;
    position: absolute;
    top: 61px;
}

.hr-scroll-sticky {
    position: fixed;
    top: 0;
    height: 4rem;
    transition: 0.5s all;
    /* height: 4rem; */
}

.hide-scrollbar {

    /* Hide scrollbar for Chrome, Safari, and Opera */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* style.css */



/* 
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); */

.typewriter {
    font-family: monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
}

.cursor {
    display: inline-block;
    width: 0.5em;

    animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.fr-hero-bg-blur {
    /* background-image: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.65) 0%, rgba(192, 132, 252, 0.65) 100%); */
    /* background: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(103, 232, 249, 0.9) 0%, rgba(192, 132, 252, 0.9) 100%); */
    background: radial-gradient(81.39% 84.82% at -6.17% 12.35%, rgba(192, 132, 252, 0.38) 9%, rgba(103, 232, 249, 0.38) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;


}

.login-register-btn {
    background: linear-gradient(90deg, #4C42B8, #4C42B8);
}



.login-register-btn:hover::before {
    opacity: 1;
}


/* 
p {
    font-family: 'Open Sans', sans-serif; 
}

.feature-page h3{
    font-family: 'Avenir', sans-serif;
}

.feature-page h1{
    font-family: 'Avenir', sans-serif;
} */